.modal-img {
    max-width: 1000px;
    height: 620px;
    user-select: none;
    animation: 3s slide-left;
}

.slide-in-right {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: translateX(-100%);
}

.slide-in-right.active {
    opacity: 1;
    transform: translateX(0%);
  }

.modal-img-background {
    background-color: black;
    width: 1000px;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-arrow-button {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255, 0.6);
    color: rgb(0, 0, 0, 0.4);
    font-size: 16px;
    padding: 0.5rem 0.7rem;
    border-radius: 50px;
}

.img-arrow-button:hover {
    font-size: 24px;
    transition: 0.1s;
    cursor: pointer;
}

.fa-solid.fa-chevron-right {
    right: 30px;
}

.fa-solid.fa-chevron-left {
    left: 30px;
}

.modal-img-background:hover > .img-arrow-button {
    display: block;
}
