.signup-modal {
    border: 1px solid black;
    border-radius: 20%;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

.signup-input {
    background-color: #E8F0FE;
    margin-bottom: 0.5rem;
}

.form-submit:enabled {
    background-color: #FF5A5F;
    color: white;
    filter: drop-shadow(0 0 1px black)
}
