.modal-img {
    max-width: 1000px;
    height: 620px;
    user-select: none;
}

.modal-img-background {
    background-color: black;
    width: 1000px;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-arrow-button {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255, 0.6);
    color: rgb(0, 0, 0, 0.4);
    font-size: 16px;
    padding: 0.5rem 0.7rem;
    border-radius: 50px;
}

.modal-img-background:hover > .img-arrow-button {
    display: block;
}

.img-arrow-button:hover {
    font-size: 24px;
    transition: 0.1s;
    cursor: pointer;
}

.fa-solid.fa-chevron-right {
    right: 30px;
}

.fa-solid.fa-chevron-left {
    left: 30px;
}


@media (max-width: 550px) {
    .modal-img-background {
        max-width: 100vw;
        max-height: 400px;
        width: 550px;
        height: fit-content;
    }
    .modal-img {
        max-width: 100vw;
        max-height: 400px;
        width: auto;
        height: auto;
    }
}
