.manage-spots {
    position: relative;
    top: 4.375rem;
    padding: 2rem 10vw;
}

.manage-spots-listing {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    justify-items: center;
    list-style: none;
    margin: 0;
    padding: 2rem 0;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2.5rem;

}

.modify-spot-button {
    width: 4rem;
    margin-top: 2rem;
    margin-right: 1rem;
}

@media (min-width: 550px) {
    .manage-spots-listing {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 850px) {
    .manage-spots-listing {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1028px) {
    .manage-spots-listing {
        grid-template-columns: repeat(4, 1fr);
    }
}
