.new-spot-page {
    position: relative;
    top: 4.375rem;
    width: 30rem;
    margin: auto;
}

.subheader.first {
    padding: 0;
}

label {
    margin-top: 1rem;
}

.input-div {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.new-spot-input.price {
    flex-grow: 1;
}

.city-div {
    width: 65%;
}

.comma {
    font-size: 16px;
    overflow: hidden;
    height: 0.5rem;
}

.state-div {
    width: 35%;
}

.new-spot-input-city,
.new-spot-input-lat {
    width: 90%;
}

.new-spot-input-state {
    position: relative;
    right: 1px;
}

.new-spot-input-lng {
    position: relative;
    width: 97%;
}

.lng-div {
    width: 50%;
    margin-left: 0.5rem;
}

.subheader {
    margin-bottom: 0;
    padding-top: 1rem;
    font-size: 18px;
}

.new-spot.subheader {
    border-top: 2px solid black;
}

.new-spot-subdesc {
    margin-top: 0.5rem;
}

.new-spot-button-div {
    border-top: 2px solid black;
    width: 100%;
    margin-bottom: 2rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.new-spot-input.desc {
    height: 5rem;
}
