/* TODO Add site wide styles */
body {
    margin: 0;
}

h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 28px;
    font-weight: bold;
}

p,
li,
div {
    font-family: "Fira Sans", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.error-msg {
    color: #FF5A5F;
    font-size: 12px;
    margin: 0 0 5px 0;
}

button:hover:enabled {
    cursor: pointer;
}

input,
textarea {
    background-color: #E8F0FE;
}

.red-button:enabled {
    background-color: #FF5A5F;
    color: white;
    filter: drop-shadow(0 0 1px black)
}

.hidden {
    display: none;
}

.gray-color-button {
    background-color: #999999;
    color: white;
    font-weight: bold;
    height: 1.5rem;
    width: 9rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.gray-color-button:hover,
.delete-modal-button:hover,
.delete-account-button:hover,
.delete-acc-cancel:hover,
.confirm-delete-acc-button:enabled:hover {
    box-shadow: 0 0 0.5rem #999999;
}

.delete-modal-button {
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 3rem;
    border-radius: 5px;
}

.gray {
    color: #CCCCCC;
}

.skeleton {
    background-color: #EEEEEE;
    border-radius: 1rem;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}
