/* TODO Add site wide styles */
body {
    margin: 0;
}

h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

p,
li,
div {
    font-family: "Fira Sans", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.error-msg {
    color: #FF5A5F;
    font-size: 12px;
    margin: 0 0 5px 0;
}

button:hover:enabled {
    cursor: pointer;
}

input,
textarea {
    background-color: #E8F0FE;
}

.red-button:enabled {
    background-color: #FF5A5F;
    color: white;
    filter: drop-shadow(0 0 1px black)
}

.gray-color-button {
    background-color: #999999;
    color: white;
    font-weight: bold;
    height: 1.5rem;
    width: 9rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.gray-color-button:hover {
    box-shadow: 0.2rem 0.2rem 0.2rem #CCCCCC, -0.2rem 0 0.2rem #CCCCCC;
}
