/* TODO Add site wide styles */
h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

p,
li,
div {
    font-family: "Fira Sans", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.error-msg {
    color: #FF5A5F;
    font-size: 12px;
    margin: 0 0 5px 0;
}

button:hover:enabled {
    cursor: pointer;
}

input,
textarea {
    background-color: #E8F0FE;
}
