.spot-card {
    color:black;
    position: relative;
}

.spot-card:hover + .tooltip {
    display: block;
}

.previewImage {
    width: 100%;
    border-radius: 1rem;
}

.loc-rating {
    display: flex;
    justify-content: space-between;
}

.loc,
.rating {
    margin: 0.5rem 0;
}

.price-num {
    font-weight: bold;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
}
