.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.375rem;
    margin: 0;
    padding: 0.5rem 1.25rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #CCCCCC;
    background-color: white;
}

.hidden {
    display: none;
}

.logo-link {
    display: flex;
    align-items: center;
}

.logo {
    height: 2.5rem;
    cursor: pointer;
}

.logo-text {
    color: #FF3257;
    font-weight: bold;
    font-size: 20px;
    margin-left: 0.3rem;
}

.nav-right {
    display: flex;
    align-items: center;
}

.new-spot-button {
    padding: 1rem;
    border-radius: 30px;
}

.new-spot-button:hover {
    background-color: rgb(245, 245, 245);
}

.nav-right-profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 7rem;
    margin-right: 2rem;
}

@media (max-width: 550px) {
    .new-spot-button {
        display: none;
    }
}
