.profile-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    background-color: white;
    width: 12rem;
    /* border-radius: 10%; */
    top: 3.2rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #EEEEEE, -0.5rem -0.5rem 0.5rem #EEEEEE;
}

.profile-button {
    all: unset;
    width: 5.5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 2rem;
}

.profile-button:hover {
    box-shadow: 0.12rem 0.25rem 0.25rem #CCCCCC, -0.12rem 0 0.25rem #CCCCCC;
    cursor: pointer;
}

.fa-user-circle {
    font-size: 2rem;
    padding-right: 0.5rem;
}

.fa-bars {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.manage-spots-button {
    all: unset;
    border-top: 1px solid #CCCCCC;
}

.manage-reviews-button {
    all: unset;
    border-bottom: 1px solid #CCCCCC;
    font: 1.2em "Fira Sans", sans-serif;
    cursor: pointer;
    padding: 0.5rem 0.3rem;
}

.logout-button,
.manage-spots-button {
    font: 1.2em "Fira Sans", sans-serif;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.dropdown-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logout-button {
    margin: 0.5rem;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
}

.logout-button:hover {
    box-shadow: 0.2rem 0.2rem 0.2rem #CCCCCC, -0.2rem 0 0.2rem #CCCCCC;
}

.dropdown-button:hover {
    background-color: rgb(245, 245, 245);
}

.user-info {
    padding: 0.5rem;
    width: fit-content;
}
