.profile-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: fit-content;
    padding: 0;
    margin: 0.5rem 0;
    background-color: white;
    /* border-radius: 10%; */
    top: 3.3rem;
    filter: drop-shadow(0 0 1px #CCCCCC);
}

.profile-button {
    all: unset;
    width: 5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 2rem;
}

.profile-button:hover {
    box-shadow: 0.12rem 0.25rem 0.25rem #CCCCCC, -0.12rem 0rem 0.25rem #CCCCCC;
    cursor: pointer;
}

.fa-user-circle {
    font-size: 2rem;
    padding-right: 0.5rem;
}

.fa-bars {
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

.logout-button {
    all: unset;
    font: 1.2em "Fira Sans", sans-serif;
    margin-top: 0.5rem;
    cursor: pointer;
    padding: 0.3rem 1rem;
}

.dropdown-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dropdown-button:hover {
    background-color: rgb(245, 245, 245);
}

.user-info {
    padding: 0.5rem;
}
